.infoVagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 64px;
}

.infoVagas__txt{
    display: flex;
    flex-direction: column;
}

.infoVagas__texto1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 125px;
    height: 30px;
   
}

.infoVagas__texto2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.infoVagas__texto3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}

.img1{
    width: 1216px;
    height: 400px;
    left: 112px;
    top: 298px;
    
}