.reviews{
    padding: 64px;
    gap: 32px;
    align-items: center;
    display: flex;
}

.reviews__principal{
    width: 1216px;
    height: 404px;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 40px;
}

.reviews__info{
    padding: 64px;
    align-items: center;
    display: flex;
}

.review__info1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
}

.review__info2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.review__perfil{
    align-items: center;
}

.perfil{
    width: 56px;
    height: 56px;
    padding-left: 40px;
    border-radius: 200px;
   
}

.perfil__nome{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #101828;
}

.perfil__area{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
}